!\.gitignore
*.bak
*.log
*.o
*.so
*.ko
*.ko.*
*.obj
*.a
Module.symvers
Module.markers
*.mod.c
modules.order
__pycache__/
*.py[cod]
*$py.class

modules/include/ocf/
modules/.cache.mk
modules/.tmp_versions/
modules/**/*.o.cmd
